body {
  color: #2c3e50;
  background-color: #7472ca;
}

header.hero h1 {
  color: #17cea9; /* ανοιχτό πράσινο */
}

header.hero h2 {
  color: #60c2a1;
}

section.skills ul li {
  background-color: #ecf0f1;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 5px 5px 0;
}


h3 {
  border-bottom: 2px solid #424040;
  padding-bottom: 5px;
}

a {
  color: #1f425a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}s

section.projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0;
}

section.projects ul li {
  background-color: #f8f9fa;  /* ανοιχτό γκρι */
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

section.projects ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  border-color: #3498db;  /* γαλάζιο highlight */
}

section.projects ul li a {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
